* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro';
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


header {
    background-image: url(/assets/bgImg.png);
    background-size: cover;
    color: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 8rem;

}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 300;
}

.navbar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}


.header-content__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}



.section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 1rem;
}


.section-heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}

.subheading {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    margin: 2rem 0;
    text-align: center;
    color: #787777;

}

.section-main__content {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin: 0 10rem;

}


.section-main__content p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.button {
    background: #55C2D8;
    color: #fff;
    border-radius: 18px;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.section-second {
    position: relative;
    background: rgba(140, 79, 42, 0.3);

}

.bgImg {
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-second__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    padding: 2rem;
}

.section-icon {
    width: 5rem;
    background: #39C2D7;
    color: #fff;
    padding: 2rem;
    border-radius: 50%;

}

.section-second__heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}

.section-second__subheading {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    background: #464547;
    color: rgba(255, 255, 255, 0.4);
    padding: 3rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


footer figure {
    display: flex;
    align-items: start;
    gap: 1rem;
    text-transform: uppercase;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__content a {
    color: rgba(255, 255, 255, 0.4);
    justify-content: start;
}


footer p {
    align-self: end;
    font-size: 15px;
    margin-top: 1rem;
}



.menu-bars {
    display: none;
}

.menu-bar {
    width: 25px;
    margin: 4px 0;
    height: 2px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    header {
        padding: 1rem;
        gap: 0;
    }

    .menu-bars {
        display: block;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .section-main__content {
        flex-direction: column;
        margin: 0 1rem;
        gap: 2rem;

    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer figure {
        margin: 1rem 0;
    }

    footer p {
        align-self: center;
    }
}